// General Layout section
$spaces: 2px;

header#main-header, footer {
  display: none;
}

main {
  padding: 0 $spaces;
  section {
    width: 100%;
  }
}

section#about, section#contacts {
  display: none;
}
