html, body {
  overflow-x: hidden; }

header#main-header nav, footer nav {
  list-style: none; }
@media (max-width: 767px) {
  header#main-header, footer {
    display: none; } }
@media (min-width: 768px) {
  header#main-header, footer {
    text-align: center; }
    header#main-header nav, footer nav {
      display: inline-block; }
      header#main-header nav li, footer nav li {
        display: inline-block;
        width: 120px; }
        header#main-header nav li a, footer nav li a {
          box-sizing: border-box;
          display: block;
          width: 100%; } }
@media (min-width: 980px) {
  header#main-header nav li, footer nav li {
    width: 150px; } }
@media (min-width: 1200px) {
  header#main-header nav li, footer nav li {
    width: 190px; } }

aside {
  display: none; }
  aside nav li {
    display: block;
    width: 100%; }
    aside nav li a {
      box-sizing: border-box; }
  @media (min-width: 768px) {
    aside {
      display: none !important; } }
  @media (max-width: 767px) {
    aside {
      position: absolute;
      top: 0;
      bottom: 0;
      right: -250px;
      width: 250px;
      transition: right 0.3s ease; }
      aside.opened {
        right: 0; } }

@media (max-width: 767px) {
  aside.opened + main {
    left: -250px;
    right: 250px; } }
main {
  padding-top: 2em;
  padding-bottom: 2em; }
  main button.opener {
    display: none;
    box-sizing: border-box; }
  main section {
    width: 100%;
    box-sizing: border-box; }
  @media (max-width: 767px) {
    main {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transition: left 0.3s ease, right 0.3s ease; }
      main section {
        padding-left: 4px;
        padding-right: 4px; }
      main button.opener {
        display: block;
        width: 100%;
        position: absolute;
        top: 0; } }
  @media (min-width: 768px) {
    main {
      text-align: center; }
      main section {
        display: inline-block;
        width: 720px;
        text-align: left; } }
  @media (min-width: 980px) {
    main section {
      width: 900px; } }
  @media (min-width: 1200px) {
    main section {
      width: 1140px; } }

footer {
  text-align: center; }
  footer nav {
    text-align: left; }
    footer nav li {
      text-align: center; }
    @media (min-width: 768px) {
      footer nav {
        width: 720px; } }
    @media (min-width: 980px) {
      footer nav {
        width: 900px; } }
    @media (min-width: 1200px) {
      footer nav {
        width: 1140px; } }

section#general, section#skills {
  display: none; }
