button.opener {
  display: none; }

header#main-header nav, footer nav {
  list-style: none; }
@media (max-width: 767px) {
  header#main-header, footer {
    padding-left: 4px;
    padding-right: 4px; } }
@media (min-width: 768px) {
  header#main-header, footer {
    text-align: center; }
    header#main-header nav, footer nav {
      display: inline-block; }
      header#main-header nav li, footer nav li {
        display: inline-block;
        width: 120px; }
        header#main-header nav li a, footer nav li a {
          display: block;
          width: 100%; } }
@media (min-width: 980px) {
  header#main-header nav li, footer nav li {
    width: 150px; } }
@media (min-width: 1200px) {
  header#main-header nav li, footer nav li {
    width: 190px; } }

main {
  padding-top: 2em;
  padding-bottom: 2em; }
  main section {
    width: 100%;
    box-sizing: border-box; }
  @media (max-width: 767px) {
    main section {
      padding-left: 4px;
      padding-right: 4px; } }
  @media (min-width: 768px) {
    main {
      text-align: center; }
      main section {
        display: inline-block;
        width: 720px;
        text-align: left; } }
  @media (min-width: 980px) {
    main section {
      width: 900px; } }
  @media (min-width: 1200px) {
    main section {
      width: 1140px; } }

footer {
  text-align: center; }
  footer nav {
    text-align: left; }
    footer nav li {
      text-align: center; }
    @media (min-width: 768px) {
      footer nav {
        width: 720px; } }
    @media (min-width: 980px) {
      footer nav {
        width: 900px; } }
    @media (min-width: 1200px) {
      footer nav {
        width: 1140px; } }

section#general, section#skills {
  display: none; }

@media (max-width: 767px) {
  html, body {
    overflow-x: hidden; }

  footer {
    display: none; }

  header#main-header {
    position: absolute;
    top: 0;
    right: -250px;
    width: 250px;
    transition: right 0.2s ease; }

  main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: left 0.2s ease, right 0.2s ease; }

  header#main-header.opened {
    right: 0px; }

  header#main-header.opened + main {
    left: -250px;
    right: 250px; }

  button.opener {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    line-height: 3em;
    background-color: #fff;
    border: 1px solid red;
    outline: none;
    box-sizing: border-box; } }
