body {
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 22px;
  background-color: white;
  color: #303030;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }
  body a {
    color: #2a85e8; }
    body a:hover {
      color: #11639d; }

header#main-header, footer {
  background-color: #303030;
  color: white; }
  header#main-header nav li a, footer nav li a {
    display: block;
    width: 100%;
    line-height: 3em;
    text-decoration: none;
    color: white;
    transition: background-color 0.2s ease, color 0.2s ease; }
    header#main-header nav li a:hover, footer nav li a:hover {
      background-color: white;
      color: #303030;
      transition: background-color 0.2s ease, color 0.2s ease; }
  @media (max-width: 767px) {
    header#main-header, footer {
      padding: 0px; }
      header#main-header nav li, footer nav li {
        display: block;
        width: 100%; }
        header#main-header nav li a, footer nav li a {
          padding-left: 2em;
          box-sizing: border-box; }
        header#main-header nav li:not(:last-child) a, footer nav li:not(:last-child) a {
          border-bottom: 1px solid white; } }
  @media (min-width: 768px) {
    header#main-header nav, footer nav {
      font-size: 0; }
      header#main-header nav li, footer nav li {
        font-size: 22px; }
        header#main-header nav li a, footer nav li a {
          border-right: 1px solid white; }
        header#main-header nav li:first-child a, footer nav li:first-child a {
          border-left: 1px solid white; } }

footer nav li a {
  padding-left: 0; }
@media (min-width: 768px) {
  footer nav li {
    width: auto;
    box-sizing: content-box; }
    footer nav li a {
      box-sizing: border-box;
      padding-left: 1em;
      padding-right: 1em; } }

main section:not(:first-child) {
  margin-top: 2em; }
main section header {
  margin-bottom: 0.5em; }
main section :not(header) {
  margin-left: 0.1em;
  margin-right: 0.1em; }

main section#about article p {
  text-indent: 1em; }
  main section#about article p:not(:first-child) {
    padding-top: 0.2em; }
@media (min-width: 1200px) {
  main section#about {
    padding-left: 10em;
    position: relative; }
    main section#about:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 10em;
      height: 10em;
      content: ' ';
      background-image: url("/media/images/me.jpg");
      background-position: center center;
      background-size: 150px auto;
      background-repeat: no-repeat; } }

main section#general ul li {
  display: inline-block;
  font-size: 0.7em; }
  main section#general ul li:not(:last-child) a:after {
    content: ',';
    color: #303030; }
  main section#general ul li a {
    text-decoration: none;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 1.4em;
    -webkit-print-color-adjust: exact; }

main section#skills > ul li p.group {
  font-weight: bolder; }
main section#skills > ul li ul.skill-list {
  padding-left: 1em; }
  main section#skills > ul li ul.skill-list li {
    font-size: 0.8em;
    font-style: italic;
    display: inline-block; }
    main section#skills > ul li ul.skill-list li:not(:last-child):after {
      content: ','; }

main section#work ul li:not(:first-child), main section#study ul li:not(:first-child) {
  padding-top: 0.5em; }
main section#work ul li:not(.now), main section#study ul li:not(.now) {
  font-size: 0.8em;
  color: gray; }
main section#work ul li p:not(:first-child), main section#study ul li p:not(:first-child) {
  padding-top: 0.1em; }
main section#work ul li p.period, main section#study ul li p.period {
  font-weight: bolder; }
main section#work ul li p.title, main section#study ul li p.title {
  text-decoration: underline; }
main section#work ul li p.description, main section#study ul li p.description {
  font-size: 0.9em;
  padding-left: 1em;
  font-style: italic; }

main section#contacts ul li:not(:first-child) {
  margin-top: 0.5em; }
main section#contacts ul li a {
  padding-left: 1.4em;
  background-size: contain;
  background-repeat: no-repeat;
  text-decoration: none;
  -webkit-print-color-adjust: exact; }

main section {
  transition: background-color 0.2s ease; }
  main section.active {
    background-color: #faf9d3; }

a.tel {
  background-image: url("/media/images/phone.svg"); }
a.email {
  background-image: url("/media/images/email.svg"); }
a.web {
  background-image: url("/media/images/www.svg"); }
a:hover {
  text-decoration: underline; }
a.github {
  background-image: url("/media/images/github.svg"); }
a.linkedin {
  background-image: url("/media/images/linkedin.svg"); }
a.facebook {
  background-image: url("/media/images/facebook.svg"); }
a.email {
  background-image: url("/media/images/email.svg"); }
a.xmpp {
  background-image: url("/media/images/jabber.svg"); }
