body * {
  text-decoration: none !important; }

main section header h1, main section header h2 {
  border-bottom: 3px solid #303030; }
main section header h1 {
  font-size: 1.7em; }
main section header h2 {
  font-size: 1.3em; }
main section#general header {
  margin-bottom: 0; }
