@media only screen and (max-width: 767px) {
  .block-grid.tablet { display: block ; overflow: hidden ; }
  .block-grid.tablet>li { display: block ; height: auto ; float: left ; }
  .block-grid.three-up.tablet, .block-grid.tablet.four-up, .block-five.five-up.tablet { margin-left: -4% }
  .block-grid.three-up.tablet>li, .block-grid.tablet.four-up>li, .block-grid.five-up.tablet>li { margin-left: 4%; width: 46%; margin-bottom: 4%;} }
@media only screen and (max-width: 480px) {
  .block-grid.mobile { margin-left: 0 ; }
  .block-grid.mobile > li { float: none ; width: 100% ; margin-left: 0 ; } }


p { font-size: 137%; }
@media only screen and (max-width: 767px) { p { font-size: 107%; } }
@media only screen and (max-width: 480px) { p { font-size: 97%; } }

h1, h2, h3, h4 { color: rgb(80,80,80); }
b { color: rgb(0,0,0); }

nav {
  position: absolute;
  right: 0px; top: 7px;
  width: 100%; }
nav li {
  float: left;
  list-style: none;
  margin-left: 0px;
  margin-top: 9px; }
nav a {
  display: block;  
  padding: 7px 6px;
  border: 1px solid rgb(195,195,195);
  color: rgb(80,80,80);
  -webkit-tap-highlight-color: rgba(0,0,0, 0);
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0, 0.05);
     -moz-box-shadow: inset 0 0 5px rgba(0,0,0, 0.05);
      box-shadow: inset 0 0 5px rgba(0,0,0, 0.05);
  -webkit-transition: all 0.123s ease-out;
     -moz-transition: all 0.123s ease-out;  
      transition: all 0.123s ease-out; }
nav ul li:first-child a {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
nav ul li:last-child a {
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
nav a:hover, nav a:active {
  text-decoration: none;
  border-color: rgb(60,60,60);
  color: rgb(50,50,50);
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0, 0.38);
     -moz-box-shadow: inset 0 0 8px rgba(0,0,0, 0.38);
      box-shadow: inset 0 0 8px rgba(0,0,0, 0.38); }
nav a:active {
  background: rgb(90,90,90);
  border-color: rgb(60,60,60);
  color: rgb(245,245,245);
  text-shadow: 0 -1px 0 rgba(0,0,0, 0.9);
  -webkit-box-shadow: inset 0 0 12px rgba(0,0,0, 0.765);
     -moz-box-shadow: inset 0 0 12px rgba(0,0,0, 0.765);
      box-shadow: inset 0 0 12px rgba(0,0,0, 0.765); }

header#tablet-head {display: block;}
header#mobile-head {display: none;}
@media only screen and (max-width: 480px) {
  header#tablet-head { display: none; }
  header#mobile-head { display: block; }  }

#tablet-head, #mobile-head, #about, #study { margin-bottom: 50px; }
@media only screen and (max-width: 767px) {
  #tablet-head, #mobile-head, #about, #study { margin-bottom: 15px; } }

#links ul li a img { width: 64px; height: 64px; }
@media only screen and (max-width: 767px) {
  #links .block-grid { display: block; overflow: hidden; margin-left: -2%; }
  #links .block-grid>li { display: block; height: auto; float: left; margin-left: 2%; width: 23%; margin-bottom: 2% } }
@media only screen and (max-width: 480px) {
  #links .block-grid { display: block; overflow: hidden; margin-left: -2%; }
  #links .block-grid>li { display: block; height: auto; float: left; margin-left: 2%; width: 23%; margin-bottom: 2% }
  #links ul li a img { width: 32px; height: 32px; } }

footer p { font-size: 100%; }

body > .container { padding-top: 15px; }
.corner { position: absolute; top: 0px; right: 95px; }
@media only screen and (max-width: 767px) { .corner { right: 45px; } }
@media only screen and (max-width: 480px) { .corner { right: 15px; } }

a.language {  
  background: rgb(0,0,0);
  display: block; margin: 0px;
  padding: 4px 3px; color: rgb(245,245,245);
  border-style: solid; border-width: 0px 1px 1px 1px; border-color: rgb(90,90,90);
  -webkit-transition: all 0.023s ease-out;
  -moz-transition: all 0.023s ease-out;  
  transition: all 0.023s ease-out; 
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; }
a.language:hover, a.language:active {
  padding: 6px 3px;
  text-decoration: none; color: rgb(245,245,245);  
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0, 0.38);
  -moz-box-shadow: inset 0 0 8px rgba(0,0,0, 0.38);
  box-shadow: inset 0 0 8px rgba(0,0,0, 0.38); }
a.language:active {
  background: rgb(255,255,255); color: rgb(60,60,60);
  border-color: rgb(90,90,90);
  text-shadow: 0 -1px 0 rgba(0,0,0, 0.9);
  -webkit-box-shadow: inset 0 0 12px rgba(0,0,0, 0.765);
  -moz-box-shadow: inset 0 0 12px rgba(0,0,0, 0.765);
  box-shadow: inset 0 0 12px rgba(0,0,0, 0.765); }
