// Styles section

$font-size: 18px;
$bg-color: #fff;
$font-color: #303030;
$link-color: #2a85e8;
$hover-link-color: #11639d;

$menu-bg-color: $font-color;
$menu-font-color: $bg-color;
$menu-hover-bg-color: #484848;

@mixin menu-link {
  line-height: 3em;
  text-decoration: none;
  background-color: $menu-bg-color;
  color: $menu-font-color;
  transition: background-color 0.5s ease;
  &:hover {
    color: $menu-font-color;
    text-decoration: none;
    background-color: $menu-hover-bg-color;
  }
}

body {
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: $font-size;
  background-color: $bg-color;
  color: #303030;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  a {
    color: $link-color;
    &:hover {
      color: $hover-link-color;
    }
  }
}

// General menu styles
header#main-header, footer, aside {
  background-color: $menu-bg-color;
  color: $menu-font-color;
  nav {
    li {
      a {
        display: block;
        width: 100%;
        @include menu-link
      }
    }
  }
}

header#main-header, footer {
  nav {
    font-size: 0;
    li {
      font-size: $font-size;
      a {
        border-right: 1px solid $menu-font-color;
      }
      &:first-child a {
        border-left: 1px solid $menu-font-color;
      }
    }
  }
}

aside {
  nav {
    li {
      a {
        padding-left: 2em;
      }
      &:not(:last-child) a {
        border-bottom: 1px solid $menu-font-color;
      }
    }
  }
}

aside.opened + main button.opener {
  border-right: 1px solid $menu-font-color;
}

main {
  button.opener {
    outline: none;
    border: none;
    padding: 0;
    @include menu-link;
  }
  section {
    &:not(:first-child) {
      margin-top: 2em;
    }
    header {
      margin-bottom: 0.5em;
    }
    :not(header) {
      margin-left: 0.1em;
      margin-right: 0.1em;
    }
  }
}

main section#about {
  article {
    p {
      &:not(:first-child) {
        padding-top: 0.2em;
      }
      text-indent: 1em;
    }
  }
  @media (min-width: 1200px) {
    padding-left: 10em;
    position: relative;
    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 10em;
      height: 10em;
      content: ' ';
      background-image: url("/images/me.jpg");
      background-position: center center;
      background-size: 150px auto;
      background-repeat: no-repeat;
    }
  }
}

main section#general {
  ul {
    li {
      display: inline-block;
      font-size: 0.7em;
      &:not(:last-child) {
        a:after {
          content: ',';
          color: $font-color;
        }
      }
      a {
        text-decoration: none;
        background-size: contain;
        background-repeat: no-repeat;
        padding-left: 1.4em;
        -webkit-print-color-adjust: exact;
      }
    }
  }
}

main section#skills {
  & > ul li {
    p.group {
      font-weight: bolder;
    }
    ul.skill-list {
      padding-left: 1em;
      li {
        font-size: 0.8em;
        font-style: italic;
        display: inline-block;
        &:not(:last-child):after {
          content: ',';
        }
      }
    }
  }
}

main section#work, main section#study {
  ul {
    li {
      &:not(:first-child) {
        padding-top: 0.5em;
      }
      &:not(.now) {
        font-size: 0.8em;
        color: gray;
      }

      p:not(:first-child) {
        padding-top: 0.1em;
      }
      p.period {
        font-weight: bolder;
      }
      p.title {
        text-decoration: underline;
      }
      p.description {
        font-size: 0.9em;
        padding-left: 1em;
        font-style: italic;
      }
    }
  }
}

main section#contacts {
  ul {
    li {
      &:not(:first-child) {
        margin-top: 0.5em;
      }
      a {
        padding-left: 1.4em;
        background-size: contain;
        background-repeat: no-repeat;
        text-decoration: none;
        -webkit-print-color-adjust:exact;
      }
    }
  }
}

main section {
  transition: background-color 0.2s ease;
  &.active {
    background-color: #faf9d3;
  }
}

a {
  &:hover {
    text-decoration: underline;
  }
  &.tel {
    background-image: url("/images/phone.svg");
  }
  &.email {
    background-image: url("/images/email.svg");
  }
  &.web {
    background-image: url("/images/www.svg");
  }
  &.github {
    background-image: url("/images/github.svg")
  }
  &.linkedin {
    background-image: url("/images/linkedin.svg")
  }
  &.facebook {
    background-image: url("/images/facebook.svg")
  }
  &.email {
    background-image: url("/images/email.svg")
  }
  &.xmpp {
    background-image: url("/images/jabber.svg")
  }
}
